input[type=text] {
  width: 95%;
  height: 47px;
  font-size: 23px;
  padding: 10px 20px;
}

input[type=submit] {
    padding:25px 45px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
